# Ex. 4.6 Combining Orders and Orders Prior

Content List:
1. Import Libraries, Create Path and Import Datasets
2. Explore and Prepare dataframes to merge
3. Merge Dataframes
4. Export merged data to pickle

1. Import Libraries, Create Path and Import Datasets

In [3]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [4]:
#Create Path
path = r'C:\Users\ryanc\OneDrive\Documents\Data Analytics Exercises\Python\Instacart Basket Analysis'

In [5]:
#Import Orders_Prior df
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

In [6]:
#Import Order (cleaned) df
df_ords_checked = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

2. Explore and Prepare dataframes to merge

In [7]:
#View orders_prior df
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
#View orders df
df_ords_checked.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,0,2539329,1,prior,1,2,8,NaN
1,1,2398795,1,prior,2,3,7,15.0
2,2,473747,1,prior,3,3,12,21.0
3,3,2254736,1,prior,4,4,7,29.0
4,4,431534,1,prior,5,4,15,28.0

In [9]:
#Check shape of Orders_Prior df
df_ords_prior.shape

(32434489, 4)

In [10]:
#Check shape of Orders df
df_ords_checked.shape

(3421083, 8)

In [11]:
#Drop Unnamed: 0 column from Orders
df_ords_checked = df_ords_checked.drop(columns = 'Unnamed: 0')

In [12]:
#Check column is successfully dropped
df_ords_checked.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

3. Merge Dataframes

In [13]:
#Merge df's on order_id column
df_merged_large = df_ords_checked.merge(df_ords_prior, on = 'order_id', indicator = True)

In [14]:
#View new merged df
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [15]:
#Check merge flag frequency 
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

4. Export merged data to pickle

In [33]:
#Export merged data to pickle
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))