# Combining Data

Content List:
1. Import Libraries, Create Path and Import Datasets
2. Prepare df's to merge
3. Combine order_prods_merge and Customers df's
4. Export new merged dataset

1. Import Libraries, Create Path and Import Datasets

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#Create Path
path = r'C:\Users\ryanc\OneDrive\Documents\Data Analytics Exercises\Python\Instacart Basket Analysis'

In [3]:
#Import order products merged updated df
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

In [4]:
#Import customer df
customers = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'customers_updated_final.pkl'))

2. Prepare df's to merge

In [5]:
#View ords_prods_merge head
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,...,reordered,price_range_loc,new_busiest_days,busiest_hours,max_order,loyalty_flag,avg_price,spender_flag,order_freq,frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.800781,3139998,138,28,6,11,...,0,Mid-range product,Regularly Busy days,Most Orders,32,Regular customer,6.937500,Low Spender,8.0,Frequent Customer
1,1,Chocolate Sandwich Cookies,61,19,5.800781,1977647,138,30,6,17,...,1,Mid-range product,Regularly Busy days,Average Orders,32,Regular customer,6.937500,Low Spender,8.0,Frequent Customer
2,1,Chocolate Sandwich Cookies,61,19,5.800781,389851,709,2,0,21,...,0,Mid-range product,Busiest days,Average Orders,5,New customer,7.929688,Low Spender,8.0,Frequent Customer
3,1,Chocolate Sandwich Cookies,61,19,5.800781,652770,764,1,3,13,...,0,Mid-range product,Slowest Days,Most Orders,3,New customer,4.972656,Low Spender,9.0,Frequent Customer
4,1,Chocolate Sandwich Cookies,61,19,5.800781,1813452,764,3,4,17,...,1,Mid-range product,Slowest Days,Average Orders,3,New customer,4.972656,Low Spender,9.0,Frequent Customer

In [6]:
#View customer df head
customers.head()

,user_id,First Name,Last Name,Gender,State,Age,date_joined,n_dependants,fam_status,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

Column in common  is user_id

In [7]:
#Check dtype
customers['user_id'].dtype

dtype('O')

In [8]:
#Check dtypes
ords_prods_merge['user_id'].dtype

dtype('int32')

In [9]:
#Change dtype
customers['user_id']=customers['user_id'].astype('int32')

In [10]:
#Check dtype
customers['user_id'].dtype

dtype('int32')

3. Combine order_prods_merge and Customers df's

In [11]:
#Combine df's with indicator
final_merged = ords_prods_merge.merge(customers, on = 'user_id', indicator = True)

In [12]:
#View all columns setting change
pd.set_option('display.max_columns', None)

In [18]:
#View final_merged data
final_merged.head(25)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,new_busiest_days,busiest_hours,max_order,loyalty_flag,avg_price,spender_flag,order_freq,frequency_flag,First Name,Last Name,Gender,State,Age,date_joined,n_dependants,fam_status,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.800781,3139998,138,28,6,11,3.0,5,0,Mid-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.800781,1977647,138,30,6,17,20.0,1,1,Mid-range product,Regularly Busy days,Average Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,907,Premium Sliced Bacon,106,12,20.000000,3160996,138,1,5,13,NaN,4,0,High-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
3,907,Premium Sliced Bacon,106,12,20.000000,2254091,138,10,5,14,6.0,1,1,High-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
4,1000,Apricots,18,10,12.898438,505689,138,9,6,12,7.0,5,0,Mid-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
5,3265,Mini Seedless Watermelon Pack,32,4,1.700195,960220,138,17,5,14,19.0,1,0,Low-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
6,4913,Table Water Crackers,78,19,4.398438,894221,138,23,5,13,24.0,3,0,Low-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
7,6184,Clementines,32,4,4.300781,1977647,138,30,6,17,20.0,3,0,Low-range product,Regularly Busy days,Average Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
8,6901,Raisin Bran,121,14,2.900391,1154289,138,18,1,7,3.0,2,0,Low-range product,Busiest days,Average Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
9,7147,Classic Baby Creamers Potatoes,83,4,9.000000,930730,138,2,0,12,9.0,3,0,Mid-range product,Busiest days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
10,7987,Hazelnut Spread with Cocoa,88,13,12.796875,1592314,138,5,0,9,14.0,3,0,Mid-range product,Busiest days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
11,8048,Packaged Grape Tomatoes,32,4,11.398438,930730,138,2,0,12,9.0,7,0,Mid-range product,Busiest days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
12,8048,Packaged Grape Tomatoes,32,4,11.398438,1421595,138,3,2,9,9.0,3,1,Mid-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
13,10473,Half And Half Cream,53,16,7.000000,3160996,138,1,5,13,NaN,6,0,Mid-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
14,10473,Half And Half Cream,53,16,7.000000,930730,138,2,0,12,9.0,2,1,Mid-range product,Busiest days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
15,10473,Half And Half Cream,53,16,7.000000,1421595,138,3,2,9,9.0,2,1,Mid-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
16,10473,Half And Half Cream,53,16,7.000000,1592314,138,5,0,9,14.0,4,1,Mid-range product,Busiest days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
17,10473,Half And Half Cream,53,16,7.000000,3052988,138,6,0,6,7.0,2,1,Mid-range product,Busiest days,Average Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
18,10473,Half And Half Cream,53,16,7.000000,1986630,138,7,0,12,7.0,3,1,Mid-range product,Busiest days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
19,10473,Half And Half Cream,53,16,7.000000,2823056,138,8,6,14,6.0,3,1,Mid-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
20,10473,Half And Half Cream,53,16,7.000000,505689,138,9,6,12,7.0,3,1,Mid-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
21,10473,Half And Half Cream,53,16,7.000000,2526903,138,14,0,15,8.0,4,1,Mid-range product,Busiest days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
22,10473,Half And Half Cream,53,16,7.000000,1593782,138,15,6,11,6.0,2,1,Mid-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
23,10473,Half And Half Cream,53,16,7.000000,307762,138,16,0,11,8.0,1,1,Mid-range product,Busiest days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
24,10473,Half And Half Cream,53,16,7.000000,960220,138,17,5,14,19.0,6,1,Mid-range product,Regularly Busy days,Most Orders,32,Regular customer,6.9375,Low Spender,8.0,Frequent Customer,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both

4. Export new merged dataset

In [19]:
#Export final_merge data
final_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'final_merged.pkl'))